<section id="product" class="container-fluid py-3">
  <center>
    <h1 class="heading">Top <span>Sell</span></h1>
  </center>
  <p class="product__title">{{ title }}</p>
  <div class="container">
    <div class="row">
      <div class="col-md-6" ng-repeat="data in productList | filter:{type: type} track by $index">
        <div class="card product__card" style="max-height: 685px">
          <div class="product__img mx-auto">
            <img class="product__image" src="{{data.img}}" alt="{{data.img}}">
            <img class="product__imageReal" src="{{data.imgReal}}" alt="{{data.imgReal}}">
          </div>
          <div class="card-body mt-2">
            <div style="display:flex; align-items:center; justify-content: space-between">
              <p style="font-size: 22px; font-weight: bold">{{data.nameItem}}</p>
              <p style="font-size: 20px; font-weight: 600 ;color: #d35400">
                {{data.price | currency:"$":0}}
              </p>
            </div>
            <p style="font-size: 18; color: #34495e">{{data.description}}</p>

            <div class="mt-5" style="display:flex; align-items:center; justify-content: space-between">
              <div style="color: orange;">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div>
                <button class="px-2"
                  style="padding: 4px 24px; border-radius: 6px; outline: none; border: 2px solid #f39c12"
                  ng-click="showDetail();">
                  <div style="display:flex; align-items:center; justify-content: space-between">
                    <i class="fas fa-shopping-cart" style="color: #d35400"></i>
                    <p class="mb-0 ml-2" style="font-size: 18; color: #d35400; margin-left: 8px; font-weight: bold;">
                      Buy Now
                    </p>
                  </div>
                </button>
              </div>
            </div>
            <!-- <h4 class="">Details</h4>
            <div class="row mx-1 border rounded bg-light product__detail">
              <table width="100%">
                <tr>
                  <th class="col__title col-lg-2">Name</th>
                  <th class="col__value col-lg-4">{{data.nameItem}}</th>
                  <th class="col__title col-lg-2">Price</th>
                  <th class="col__value col-lg-4">{{data.price | currency:"$":0}}</th>
                </tr>
                <tr>
                  <th class="col__title col-lg-2">Brand</th>
                  <td class="col__value col-lg-4">{{data.brand}}</td>
                  <th class="col__title col-lg-2">Type</th>
                  <td class="col__value col-lg-4">{{data.type}}</td>
                </tr>
              </table>
            </div>

            <div class="d-flex justify-content-between pt-4 ">
              <div style="color: orange;">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div>
                <button class="px-2" ng-click="showDetail();">
                  <i class="fas fa-shopping-cart"></i>
                </button>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
</section>